* {
	margin:0;
	-webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
  	border-radius: 0 !important;
}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{
    flex-grow: 1;
}

.navbar{
    margin-bottom: 0;
}

#copyright{
    color: white;
}

.navbar-dark {
    background-color: #000000;
}

.navbar-brand {
    color: #d6d6c2;
}
.nav.navbar-nav li a {
    color: #b8b894;
}

.add-label {
    padding-left: 20px;
}

.add-form {
    padding-top: 20px;
}