.navbar-dark {
    background-color: #000000;
}

.navbar-brand {
    color: #d6d6c2;
}
.nav.navbar-nav li a {
    color: #b8b894;
}

.add-label {
    padding-left: 20px;
}

.add-form {
    padding-top: 20px;
}